<h2>Form:</h2>
<mat-tab-group>
  <mat-tab label="Single Hero">
    <forms-external-influences-hero-form
      [formControl]="heroForm"
    ></forms-external-influences-hero-form>
    <h2>Value:</h2>
    <pre>{{ heroForm.value | json }}</pre>

    <h2>External Influences</h2>
    <button (click)="toggleNameEnabledViaFormGroupReference()">
      {{ nameControl.enabled ? 'Disable' : 'Enable' }} Name Via Internal Form
      Group Reference
    </button>

    <button (click)="toggleNameEnabledViaChildMethod()">
      {{ (formComponent.nameEnabled | async) ? 'Disable' : 'Enable' }} Name Via
      Internal Form Group Reference
    </button>
  </mat-tab>
</mat-tab-group>
